<h3>artist Form</h3>
<%= form_for(@artist) do |f| %>
  <label>artist Name:</label><br>
  <%= f.text_field :name %><br>

  <label>artist Bio:</label><br>
  <%= f.text_area :bio %><br>

  <%= f.submit %>
<% end %>
